@import "../../components/App/style.scss";
.portfolio {
  //display: flex;
  .listePortfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .cartePortfolio {
      width: 60vw;
      height: fit-content;
      margin: 0 10px 10px 10px;
      .titrePortfolio {
        .ImagePortfolio {
          box-sizing: content-box;
          width: 100%;
        }
        .TextePortfolio {
          span {
            display: block;
          }
        }
        button {
          background-color: $Bleu;
          padding: 0;
          width: 110px;
          &:hover {
            background-color: lighten($texteOrange, 10%);
            border-color: $texteOrange;
          }
        }
      }
      .plus {
        //display: none;
        height: 0px;
        color: $Bleu;
        overflow: hidden;
        transition: height 2s;
        .portfolioSeparation {
          margin-top: 10px;
          position: relative;
          font-size: 15px;
          font-weight: bolder;
          margin: 0;
          &:before {
            content: " ";
            content: " ";
            position: absolute;
            border-bottom: 1px solid $texteOrange;
            width: 50%;
            height: 13px;
            display: inline;
            margin-left: calc(-50% - 8px);
          }
          &:after {
            content: " ";
            position: absolute;
            border-bottom: 1px solid $texteOrange;
            width: 50%;
            height: 13px;
            display: inline;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
