@import "../../components/App/style.scss";
.technologie {
  .listeTechno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .carteTechno {
      width: 250px;
      height: fit-content;
      margin: 0 10px 0 10px;
    }
  }
}
