@import "../../components/App/style.scss";
.formation {
  //display: flex; //a retirer
  .listeFormation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .carteFormation {
      max-width: 500px;
      margin: 0 10px 10px 10px;
      text-align: left;
      .formationInfo {
        display: flex;
        .infoImage {
          width: 100px;
        }
        .infoTexte {
          text-align: left;
          margin: auto 10px;
          overflow-y: auto;
          span {
            display: block;
          }
          a {
            color: $Bleu;
            &:hover {
              color: $texteOrange;
            }
          }

          .siteFormation {
            color: $Bleu;
            &:hover {
              color: $texteOrange;
            }
          }
        }
      }
      .commentaireFormation {
        max-height: 180px;
        overflow-y: scroll;
      }
      .fichierFormation {
        height: 100px;
        color: $Bleu;
        & :hover {
          color: $texteOrange;
        }
        & a {
          color: $Bleu;
          & :hover {
            color: $texteBlanc;
          }
        }
      }
    }
  }
}
