@import "../../components/App/style.scss";
$centrageTopInit: (100vh/3);
$centrageleftInit: (100vw/4);
$hauteurInit: (100vh/3);
$hauteurtitrePropos: (100vw/30);
$hauteurnomPropos: (100vw/40);

.navigation {
  background-color: $Bleu;
  position: fixed;
  height: 95px;
  padding: 0;
  animation: navigation $dureeAnimationDepart;
  @keyframes navigation {
    from {
      opacity: 0;
      //background-color: $texteBlanc;
      justify-content: flex-end;
    }
    to {
      opacity: 1;
      justify-content: space-between;
      //background-color: $Bleu;
    }
  }
  .identite {
    background-color: transparent;
    color: $texteBlanc !important;
    cursor: default;
    display: flex;
    justify-content: center;

    top: $centrageTopInit;
    left: $centrageleftInit;
    position: absolute;

    animation: identite $dureeAnimationDepart $tempoAnimationDepart ease-in-out
      forwards;
    @keyframes identite {
      from {
        top: $centrageTopInit;
        left: $centrageleftInit;
        position: absolute;
      }
      to {
        top: 0;
        left: 0;
        position: relative;
      }
    }
    .nomTitre {
      display: flex;
      flex-direction: column;
      .nomPropos {
        display: block;
        text-transform: none;
        margin-top: auto;
        font-size: $hauteurnomPropos;
        animation: nomPropos $dureeAnimationDepart $tempoAnimationDepart
          ease-in-out forwards;
        @keyframes nomPropos {
          from {
            font-size: $hauteurnomPropos;
          }
          to {
            font-size: 20px;
          }
        }
      }
      .titrePropos {
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: auto;
        font-size: $hauteurtitrePropos;
        animation: titrePropos $dureeAnimationDepart $tempoAnimationDepart
          ease-in-out forwards;
        @keyframes titrePropos {
          from {
            font-size: $hauteurtitrePropos;
          }
          to {
            font-size: 20px;
          }
        }
      }
    }
    .photoPropos {
      width: 80px;
      margin: 5px;
      border-radius: 100%;
      width: 10vw;
      animation: photoPropos $dureeAnimationDepart $tempoAnimationDepart
        ease-in-out forwards;
      @keyframes photoPropos {
        from {
          width: 10vw;
        }
        to {
          width: 80px;
        }
      }
    }
  }

  .boutonNavigation {
    margin-left: auto !important;
    border-color: white;
    @media (max-width: 992px) {
      opacity: 0;
      animation: chargementBouton $dureeAnimationlisteNavigation
        $tempoAnimationlisteNavigation ease-in-out forwards;
      @keyframes chargementBouton {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  .listeNavigation {
    justify-content: flex-end;
    padding-left: 1px;
    background-color: $Bleu;

    opacity: 0;
    animation: chargementList $dureeAnimationlisteNavigation
      $tempoAnimationlisteNavigation ease-in-out forwards;
    @keyframes chargementList {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    div {
      margin-right: 5px !important;
    }
    a {
      color: $texteBlanc !important;
      transition: color 1s;
      border-radius: 5px;
      &:hover {
        color: $texteOrange !important;
        background-color: white;
      }
    }
    .menuNavigation {
      div {
        background-color: $Bleu !important;
      }
    }

    .texteNavigation {
      margin-right: 5px !important;
    }
  }
}
