@import "../../components/App/style.scss";
.topNavigationBar {
  width: 100%;
  position: fixed;
  z-index: 2;
  .nav {
    height: 87px;
    width: 100%;
    background-color: $Bleu;
    position: relative;
    .nav-btn {
      display: none;
    }
    .nav-links {
      display: flex;
      float: right;
      font-size: 15px;
      align-items: center;
      .navItems {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 18px;
        height: fit-content;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
          cursor: pointer;
        }
      }
    }
    #nav-check {
      display: none;
    }
  }

  @media only screen and (max-width: 1335px) {
    .nav {
      .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 18px;
        border-radius: 50%;
        .burger {
          width: 40px;
          height: 34px;
          border-radius: 50%;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: $Bleu;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 87px;
        left: 0px;
        .navItems {
          display: block;
          color: blanchedalmond;
          margin-left: 90px;
        }
      }
      & #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      & #nav-check:checked ~ .nav-links {
        height: 135px; //calc(85vh - 300px);
        //overflow-y: auto;
      }
    }
  }
}
