@import "../../components/App/style.scss";
.presentation {
  .textePresentation {
    margin-top: 60px;
    border-radius: 0 !important;
    border: 0;
    margin-left: -80vw;
    width: 80vw;
    min-width: 350px;
    background-color: lighten($texteOrange, 10%);
    color: $texteBlanc;
    animation: mouvementSup $dureeAnimationpresentation ease-in-out forwards;
    @keyframes mouvementSup {
      from {
        margin-left: -80vw;
      }
      to {
        margin-left: 10vw;
      }
    }

    div {
      padding: 10px;
    }
  }
  .textePresentationInf {
    border-radius: 0 !important;
    border: 0;
    margin-left: 100vw;
    width: 80vw;
    min-width: 350px;
    background-color: lighten($texteOrange, 10%);
    color: $texteBlanc;
    animation: mouvementInf $dureeAnimationpresentation ease-in-out forwards;
    @keyframes mouvementInf {
      from {
        margin-left: 100vw;
      }
      to {
        margin-left: 10vw;
      }
    }
    div {
      padding: 10px;
    }
  }
}
